
/* ------------------------
	Repeating Gradients
--------------------------- */

.box {
	width: 70%;
	height: 900px;
	margin: 35px auto;
    
    background: repeating-linear-gradient(rgba(58,122,187,.8), rgb(43,79,115) 50px);
}