
div {
	margin: 50px auto;
	font: 1.1em/1.5 sans-serif;
	box-sizing: border-box;
}
.box {
    height: 500px;
    width: 80%;
    background: url('img/full-bg.jpg') no-repeat center;
    padding: 30px;
    border: 15px solid rgba( 35, 66, 97, .6);
}

.sketch-img {
	width: 700px;
	height: 500px;
	border-radius: 10px;
	background: url('img/smiley.png') no-repeat right top , url('img/pencil.png') no-repeat left bottom, url('img/texture.jpg') #d6bb80;
        /* Add another image layer on top of the current image. Smiley-face is top layer, secondly the pencil. Last layer is texture. . */
    background-size: 250px 200px, 50% 45%, 110%; /* First size is top layer, then second layer ,then bottom layer (texture layer). Percent relative to entire width&height of entire background area, not of the background image itself. First value in layer is width, second is height. */
}

/*  Background image too damn big. Let's scale it to make it fit in different window sizes */
.box {
    background-size: contain; /* 'cover' fills the entire background area and scales to fit both width and height as a full page background image. Make sure that height value is set to 100%. 'contain' similarly fills background area of page, but scales image to be constant of original image. Rest of space outside of image is set white. Image not representative of this comman because of changes made to '.box' */
    background-clip: padding-box; /* sets background painting area. How far background should visibly extend. With 'content-box' background is limited to extending only out to the edge of the content box. 'padding-box' allows extent of background image to edges of padding. */
    background-origin: content-box;
}