/* */

body {
    -webkit-perspective: 800px; /* Tells body that direct children of body are ready to move around in 3D space. When defining distance, value is ... . Anything from 800 to 1000 px is common. Perspective alone won't cause changes. Just determines how direct children of body are laid.*/
  /* -webkit-perspective-origin: 100% 100%; Has to be defined parent in order to give children depth. Sort of like where the object is rotating from. Default is 50% x and y, which is rotating around center of object. */
}

.wrap {
    transition: -webkit-transform 3s ease-in;
    -webkit-transform-style: preserve-3d; /* Will pass down 3D space to 'side-a' and 'side-b' which are nested inside. */
}

.wrap div {
    position: absolute;
    -webkit-backface-visibility: hidden; /* Hides '.wrap' class when rotating item to point at which backside is visible. Hides the backside. Now we need to unhide the .side-b. */
}

.side-a {
    z-index: 100;
}

.side-b {
    -webkit-transform: rotateX(-180deg);
}

.wrap:hover {
    -webkit-transform: rotate3d(1,0,0, 360deg); /* 'rotate3d()' x,y,z are always number values and the 4th value is the angle through which the element rotates. The x,y,z, values are unit vectors for rotation. The above codes means the element will rotate through 65 degrees on the x and y axis, and 0 degrees on the z-axis. By changing 'perspective' to smaller value means that the object is closer to the viewport. Try changing the perspective to 15px and see. */
}