/* Can also import rules into the css file for media queries */
@import url("wider.css") screen and (max-width 768px) and (min-width: 481px);
@import url("narrow.css") screen and (max-width: 480px);
/* However, @import can be quite expensive in terms of server requests. Will continue using media queries directly within css doc. */

body {
	font: 1.1em/1.5 sans-serif;
}
.wrap {
	width: 85%;
	margin: auto;
}
h1 {
	font-size: 3em;
}
p {
	margin-bottom: 1.5em;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media screen and (max-width: 768px) and (min-width: 481px) { /* before the parenthesis is the specific media type can be applied. If not specified, defualt is 'all'. In the parenthesis is the expression or logical operator to check if true or false. Things like "is the screen within mix-width?"  Logical expressions should not have semicolon. This is like an 'if' statement. Selectors go inside. */
    body { /* 'body' element as selector */
        background: #FF6347;
        color: #FFF;
    }
}

@media screen and (max-width: 480px) {
    body {
        background: #4682b4;
        /* Font is not white because first query is no longer in effect */
    }
}

@media screen and (min-width: 1000px) {
    .wrap {
        width: 700px;
    }
}