body {
	margin: 80px auto;
	width: 70%;
	color: #222;
	font: normal 1.1em/1.5 Sans-Serif;
}

/* CSS has 4 types of pseudo-element selectors that help keep markup cleaner; 'first-line', 'first-letter', 'before', 'after'. Pseudo-classes target actual elements that describe a certain state. Whereas pseudo-elements let us style certain parts of a document that don't always exist as elements. Double colon syntax distinguishes between the two. */

/* 'intro' is class and 'first-line' is pseudo-element'. */
.intro::first-line {
    color: royalblue;
    font-weight: bold;
    font-size: 32px;
    
}

/* 'first-letter' pseudo-element selects first-character of element. */
.intro::first-letter {
    float: left;
    margin: 10px 10px;
    padding: 0 10px;
    background: lightgray;
    font-size: 100px;
    line-height:1;
}