body {
	padding-top: 50px;
	background: #F5F5F5;
	color: #FFF;
	font-family: sans-serif;
}

.wrap {
	margin: 0 auto;
	padding: 15px;
	width: 850px;
	height: 300px;
	box-shadow: 0 0 20px rgba(0,0,0,.5);
	cursor: pointer;
}

.box {
	width: 25%;
	height: 200px;
	border-radius: 8px;
	background: #4682B4;
    transition-duration: 1s; /* Transition duration for '.box' class is 1 second and, without specified properties, will apply to all possible properties (margin-left, background) */
    transition-timing-function: steps(4, end); /* Transition pattern, by default ('ease'), follows an acceleration curve. Can change this value to be linear, step function, ease-in, etc... All mapped to cubic-bezier function. Can create own function through 4 control points. Check it out online for more information. ('cubic-bezier("p1x","p1y","p2x","p2y"))  Will look like 
transition-timing-function: cubic-bezier(.5, -.3, .3, 1)
    */
    transition-delay: 1s;

 }

.wrap:hover .box {
 	background: #F08080;
    margin-left: 75%;
 }

/* 'transition' is shorthand for all this. Values go; property-applied-to duration movement-function delay, next-property...