
.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

/* New code. */
.main {
    display: flex; /* Makes .main class a flex container, so as to influence flex items within .main */
}

.nav li{
    flex-grow: 1; /* Defines how much flex-item will grow relative to other flex-items. '1' represents ratio of free space that should be taken by list items. Property 'flex' is shorthand for 'flex-grow, flex-shrink, flex-basis' (in that order). */
}

.col {
    flex: 1; 
}
.col-c{
    flex: 2;
    order: -1; /* Places col-c class at opposite position of where it is by default (defaults to at the end of the list */)
}
.col-b{
    align-self: flex-end; /* vertically centers col-b class in the line. 'flex-end' aligns vertical edge of column with vertical edges of other columns. Default for 'align-self' is 'stretch' which makes them all same height. */
}

/* Media query */

/* Media queries are sort of like 'if' statements. This says 
"if 'screen' is at 'width =< 999px then
    .main position = column
" */
@media screen and (max-width: 999px) {
    .main {
        flex-direction: column; /* Swaps main-axis and cross-axis */
    }
}