
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding-top: 25px;
	background: #ECF0F1;
	color: #FFF;
	font: 1.3em/1.6 sans-serif;
}
.wrap {
	margin: auto;
	width: 90%;
}
.main-header {
	background: #34495E;
	text-align: center;
}
.logo, 
.main-nav a {
	display: inline-block;
	color: #FFF;
	text-decoration: none;
}
.main-nav a {
	padding: 0 .75em;
	border-right: 1px dotted;
	color: rgba(255,255,255, .8);
	font-size: .7em;
	line-height: 1rem;
}
.main-nav a:hover {
	text-decoration: underline;
}
.main-nav a:last-child {
	border-right: none;
}
.content, 
.main-header {
	overflow: hidden;
}
.col {
	height: 240px;
}
.main {
	background: #3498DB;
}
.secondary {
	background: #2ECC71;
}
.extra {
	background: #E74C3C;
    display: none;
}
.main-footer {
	background: #95A5A6;
}
.main-header, 
.main-footer, 
.col {
	margin-bottom: 15px;
	padding: 2.15%;
	border-radius: 5px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Can create more complex media queries with more complex logical operators, rather than just 'and'. 'not' and 'only' are more specific. */

@media not screen and (monochrome) {
    body {
        background: red; /* If not on a monochrome (black and white) screen, then make the background of the body red. If on a monochrome screen, do nothing. Opposite of monochrome is 'color'. */
    }
}
 
/* Screen is default set for mobile device (because of one column layout and 'extra' class is hidden). */

/* Media queries for converting default phone view to tablet view */
@media screen and (min-width: 481px) {
    .col {
        float: left;
    }
    .main {
        width: 65.9574468008511%;
    }
    .secondary {
        width: 31.914893617021%;
    }
    .secondary,
    .extra {
        margin-left: 2.127659574468%;
    }
}

/* Optimizing layout for converting tablet to desktop view */
@media only screen and (min-width: 769px) {
    .logo {
        float: left;
    }
    .main-nav {
        float: right;
    }
    .extra {
        display: block;
        width: 23.404255319149%;
        
    }
    .main {
        width: 40.425531914894%;
    }
}
@media screen and (min-width: 1024px) {
    .wrap {
        width: 980px;
    }
}
