body {
	padding: 2% 18%;
	font: 1em/1.5 sans-serif;
}
form {
	margin-top: 30px;
}

/* Attribute Selectors */
/* A basic class attribute selector applies to any element with a class attribute. */
[class] {
	background-color: crimson;
	color: white;
}

/* But what if we only want to define links with a class attribute */
a[class] {
	color: purple;
}

/* Can also target class with certain values with things like the above code rewritten with:
a[class="thisclass"] */
input[type="email"] {
    width: 200px;
    height: 25px;
    border: 2px solid grey;
    background: lightyellow;
}

input[type="submit"] {
    color: white;
    background-color: steelblue;
    margin-left: 5px;
    width: 100px;
    height; 30px;
    border: none;
}

a[target="_blank"] {
    text-decoration: none;
    border: 2px dotted crimson;
}