
/* ==========================================================================
   Media Queries
   ========================================================================== */


/* Phones to Tablets & Desktop */

@media screen and (min-width: 769px) {
	.main-header {
		padding: 35px 0 25px;
	}
	.main-header .inner {
		padding-left: 2.4%;
	}
	.logo {
		float: left;
	}
	.main-nav {
		float: right; 
	}
	.main-nav a, 
	.main-nav a:first-child {
		display: inline-block;
		margin: 0 .2em;
		padding: .35em 1em;
		border-radius: 8px;
	}
	.main {
		padding-top: 3.6%;
		width: 65.957446808511%;
	}
	.col {
		float: left;
	}
	h1 {
		font-size: 3em;
	}
	.sidebar {
		margin-left: 3.127659574468%;
		width: 30.914893617021%; 
	}
	.search {
		position: relative;
		top: initial;
		right: initial;
		margin-bottom: 2em;
	}
}

@media screen and (min-width: 1024px) {	
	.wrap, .main-header .inner {
		width: 1000px;
	}
}

/* Print stylesheet */

/* The below code formats a website in the case that someone tries to print a page from the website. */
@media print { /* all styles changed or added within style block should be used only when printing a page (or print preview). */
    * { /* that's the universal selector. Selects entire files. */
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
        /* '!important' gives this property and value highest priority */
    }
    .main-nav,
    .sidebar,
    .comments,
    .main-footer {
        display: none;
    }
    .main-header {
        margin-bottom: 0;
        border: none;
        text-align: center;
    }
    a[href^="http"]::after { /* Remember the '^' means, 'begins with' */
        content: " [" attr(href)"]"; /* Takes value of 'href' and places it as content next to the links (anchor elements) */
        color: blue;        
    }
    @page {
        margin: 5cm; /* Use absolute units because it applies to a physical 'page' */
    }
    @page :first {
        margin-top: 2cm; /* Just first page has top margin. */
    }
    h2, ul {
        page-break-after: avoid; /* avoids page breaks after h2 elements or ul elements */
    }
    p, ul {
        orphans: 3; /* single words or stray lines that are left after a page break */
        widows: 3; /* ones that fall before a page break. */
        /* Value left at 3 because we'll allow for 3 lines to be independently left on different pages */
        font-size: 11pt;
    }
}