
.box {
	border: 30px solid #70979A;
}


/* Explore 'border-image' propoerty in which an image is used as a border around an element. The borders design are taken from the sides and corners of the image we specify. We can then slice, scale, and stretch to make it look good. 'border-image' is the shorthand for 'border-image-;' 'source','slice','width','outset', and 'border-image-repeat'. */

.box {
    border-image-source: url('img/border.png'); /*Get the image condensed to 30px x 30px in each corner of div. To correct this, need to use 'border-image-slice' propert. */
    border-image-slice: 30 fill; /* When image is sliced, image sliced into 9 sections. 9 regions are 'top-left', 'top-center', 'top-right', 'right-middle',... 'center'. Can accept 4 offset values for top, right, bottom, and left parts, plus optional fill for center. '%' values are relative to the size of the image. First value is width of image. Second is relative to height of image. 'fill' value scales the middle image to fill everything within the border. */
    border-image-repeat: repeat round; /*Defines how the tiles are repeated or stretch. Default is stretch. Value 'round' fixes misallignment. The image tiles to fill the area and resizes to fill the area */
    border-image-width: 40px 2; /* Sets how big the border should be. Sets inward distance from sides of image area. '2' is multiplied by border width declared (30px). */
    border-image-outset: 2; /* 60 pixels outside the box-model */
    
    /* Shorthand */
    /* 'border-image' is shorthand for everything above. */
    
    /* A good tool to see everything in a live demo is borer-image.com */
}