/* ---------------------
	Reset Margins
------------------------ */

body, h1, h2, h3, p {
	margin: 0;
}

/* ---------------------
	Page Styles
------------------------ */

* {
	box-sizing: border-box;
} 

body {
	padding: 1em 0;
	border-top: 8px solid #222;
	background: #f9f9f9;
	color: #333;
	font-family: 'PT Serif', serif;
    /* Added line 24 */
    font-size: 1.125em;
}
a {
	color: #d24c39;
}
.wrap {
	margin: 0 auto;
	max-width: 58%;
}
.title {
	font-size: 4.4vw; /* Still a bug in Chrome with 'vw' (viewport width) because not a continuous update. Not a steady-state change in size. Only updates upon refresh of the screen. February 2014 */
	font-family: 'PT Sans Narrow', sans-serif;
	line-height: 1.1;
}
h2, h3 {
	font-family: 'PT Sans', sans-serif;
}
h2 {
	margin: 1em 0 .8em 0;
	color: #2B9BD4;
	letter-spacing: -1px; 
	font-size: 2em;
	line-height: 1.1;
}
h3 {
	margin: 1.7em 0 .8em 0;
	color: #222;
	font-size: 1.333em;
}
p {
	margin: 1em 0;
}
img {
	padding: .5em;
	width: 100%;
	border: 1px solid rgba(34,34,34,.3);
}
blockquote {
	position: relative;
	margin: 0 0 0 3em;
	padding: 0 1.7em 0 0;
	color: rgba(34,34,34, .8);
	font-style: italic;
}
blockquote:before {
	position: absolute;
	top: -30px;
	left: -55px;
	color: rgba(77,195,255,.5);
	content: "\201C";
	font-size: 4.5em;
}
.code {
	padding: 1.1em;
	border: 1px solid #dae0a7;
	background: #eef2ca;
	color: #ccc;
	color: rgba(34,34,34, .8);
	white-space: pre;
	font-family: 'Consolas', monospace;
	line-height: 1.35;
    font-size: 1rem;
}

/* ---------------------
	Media Queries 
------------------------ */


@media screen and (max-width: 599px) {
    .wrap {
        max-width: 85%;
    }
    body {
        font-size: .7em;
    }
}

@media screen and (min-width: 980px) {
    .wrap {
        max-width: 600px;
        
    }
} 




