
body {
	padding: 2em 6em;
}
p{
    font: 1.5em Baskerville, "Times New Roman", Times, serif;
}

/* Text Styles
--------------------------------------------- */


/* Line height covers the vertical spacing between texts. It's like the diameter of of the text. 1/2 the line height value is equal to how far the middle of the current line is from the top of the line below it. 'line-height' can accept 5 types of values; 'normal', 'em'/percentage value, unitless number value, pixel value. */

/* Here, 1.5 is multiplied by the font-size to give line-height. Here, this is the same as 1.5em or 150%. */
p {
    line-height: 1.5;
}

/* 'text-align' allows horizontal alignment of text. Can accept 4 values; left, right, center, justify */
p {
    text-align: justify;
}

/* 'text-decoration' allows us to set line-decoration to 'none', 'underline', 'overline' or 'line-through. */
a:hover {
    text-decoration: none;
}
p {
    text-decoration:line-through;
}

/* 'text-indent' allows us to indent first line of text. Can specify value in length units or percentages. Can accept negative values. */
p {
    text-indent: 1.5em; /* 1.5em = 16px * 1.5 = 24 pixels = indentation from left side of margin. */
}

/* 'text-transform' property allows us to change case of text. Can have values; 'uppercase', 'lowercase', or 'capitalize'. */
span {
    text-transform: uppercase;
}

/* 'white-space' sets how white-space (spaces and returns) is rendered. Can have values of 
    'none', 
    'nowrap' (when there are multiple spaces in a row, collapsed to a single space and there are no line wraps to the next row, meaning everything is in the same long line), 
    'pre' (format of text is taken from the html file. Spaces and line breaks used in the html markup are included in the page rendering. Even spaces and indentation caused by nesting are rendered in the browser.)
    'pre-line' (all line breaks in html markup are evaluated. However, multiple spaces together are collapsed to one single space)
    'pre-wrap (works like pre except that it doesn't force everything on a single line. Lines are broken ... ? */
p {
    white-space:pre-wrap;
}
