
/* Numeric and Textual Values
--------------------------------------------- */

body {
	font: normal 1.2em/1.5 sans-serif;  /* 19px */
	padding: 2em 0;
}

div {
	width: 700px;
	padding: 2em;
}


/* 'auto', 'inherit', and 'initial' are the three important values for specifying */
/* 'auto' is the default value for things like width, height, etc */
/* 'inherit' means that the value is inherited from the last element. For instance, the anchor tag is by default ('auto') blue and underlined. By specifying that the color is inherited continues the text in the red because of the parent element (the paragraph element). */
div {
    margin: auto;
    background-image: url("bg.jpg");
    margin-top: -1.3em;
}
p {
    color: red;
    width: 50%; /* Scales the width of the paragraph to 50% of its parent element */
    font-size: 75%;
}
a {
    color: inherit;
}
/* For a list of properties and their values, appendix F on w3.org property table. */

/* Can return an element's color back to original value with 'initial' value */
strong {
    color: initial;
}


div:after {
    content: "\\ A string with double quotes to note a string, and \"quotes within the string\" using a backslash\\";
    font-size: 1.5em;
    color: blue;
}

