
body {
	width: 80%;
	margin: 2.5em auto;
	font: 1.1em/1.3 sans-serif;
}

ul, ol {
	margin-bottom: 2.5em;
}
li {
    border: 1px solid #000;
}

/* List Styles
--------------------------------------------- */

/* List styles can be changed with 'list-style-type'. For instance, the bulletpoints that come with default html formatting can be changed to be hollow circles or square pegs. Ordered lists can also be reformatted to roman numerals, letters, and decimals. */
/* 'list-style-position' can modify whether the marker should be placed on the inside or outside of the list items. */
/* By default, list items are indented from the paragraph into the page. */
ul {
    list-style-type: square;
    list-style-position: inside;
}

ol {
    list-style-type: decimal-leading-zero; /* Ex. 01., 02. */
}

/* Can edit vertical spaceing between each list item */
ol li {
    margin-bottom: 20px;
}

/* There is a general purpose property 'list-style' that can edit all of these values in one line */

ul {
    list-style: circle inside;
}