
/* Typography
================================= */

h1 {
	font-weight: 200;
	margin-bottom: 30px;
}
h2, h3 {
	font-size: 1.25em;
	color: #5f5d60;
	margin-bottom: 16px;
	margin-top: 0;
}
p {
	color: #b3aeb5;
	line-height: 1.7;
	font-size: 1.1em;
	font-weight: 200;
}
strong {
	color: #5f5d60;
}
.navbar-text {
	font-weight: bold;
	margin-right: 0;
}
.lead {
	color: #d5c1f2;
	margin-bottom: 70px;
}
.lead:nth-of-type(2) {
	font-size: initial;
	margin-bottom: 20px;
}

/* Layout
================================= */
.ft {
	margin-bottom: 72px;
}
.ft-copy {
	padding-top: 32px;
}



/* Buttons
================================= */


.btn-default {
	border-width: 2px;
	border-color: inherit;
	margin-right: 10px;
	padding: 12px 22px;
}
.btn-default:hover {
	background-color: #fff;
	color: #957bba;
	border-color: #fff;
}


/* Jumbotron
================================= */

.jumbotron {
	background-image: url('../img/main-bg.png');
	background-repeat: no-repeat;
	background-position:  200% 100%;
	padding: 200px 0 140px 0;
	margin-bottom: 70px;
}
.device {
	width: 345px;
	height: 589px;
	background: url('../img/device-hero.png') no-repeat;
}


/* Logos & Icons
================================= */

.main-logo {
	width: 124px;
	height: 34px;
	margin-top: 22px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background: url('../img/main-logo.png') no-repeat;
	background-size: 100%;
}

.ft-icon {
	width: 94%;
	height: 196px;
	position: relative;
	background: #8c73b0 url('../img/main-bg.png') no-repeat 270px -180px;
	background-size: 140%;
}
.ft-icon::before {
	content: "";
	display: block;
	position: absolute;
	width: 164px;
	height: 102px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	background: url('../img/feature-icons.png') no-repeat;
	background-size: 100%;
}
.friends::before {
	background-position: 0 -105px;
}
.cloud::before {
	background-position: 0 -210px;
}
.ft-icon.friends {
	background-position: -500px 0;
}
.ft-icon.cloud {
	background-position: 260px 0;
}

/* Media Queries
================================= */

@media (max-width: 991px) {
	.jumbotron {
		padding-top: 120px;
		padding-bottom: 20px;
		background-position: 10% 10%;
	}
	
	.ft-copy {
		padding-top: 12px;
	}
}
@media (max-width: 767px) {
	.navbar {
		min-height: 60px;
	}
	.main-logo {
		width: 82px;
		margin-top: 20px;
	}
	.jumbotron {
		padding-top: 80px;
		margin-bottom: 32px;
	}
	.lead {
		margin-bottom: 40px;
	}
	
	.ft {
		margin-bottom: 16px;
	}
}