/* Create a style sheet that demonstrates different ways to use CSS selectors*/

/* First, we'll deal with the Universal Selector. It takes precedence over all other styles. Lines 6 - 10 demonstrate syntax for a Universal Selector
however, because of its largeness, we will comment these lines rather than actually apply them. */
/*
* {
	margin: 0;
	padding: 0;
	color: red;
}	*/

/* Type selectors select element types such as <h2>, <p>, <title> */
	body {
		background-color: #cadde5;
		padding: 40px;
	}
	h1 {
		color: #2980b9;
		font-size: 40px;
	}
	h2 {
		color: #e74c3c;
	}
	p {
		color: white;
		padding: 10px;
		background-color: blue;
	}

/* Descendent selectors are a result of type selectors. When something is nested within a type, it is a descendent of that type. Otherwise, children
(nests) will have the same format/presentation as their parent */
	h1 span {
		color: #1e4667;

	}
	p span {
		color: black;
		font-weight: bold;
	}