
.rounded-box {
   width: 600px;
   height: 400px;
   background-color: #568E9D;
}

/* */
.rounded-box {
    border-top-left-radius: 30px 20px; /*an elliptical radius cut from the corners */
    border-radius: 30px 10px 30px 50%; /* a percentage corresponds to the entire length of the box. */
    border: red dotted;
}

.circle {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 300px;
    height: 300px;
    background-color: steelblue;
    border-radius: 50%;
}