
/* Phones to Tablets & Desktop */

@media screen and (min-width: 769px) {
	.main-header {
		padding: 35px 0 25px;
	}
	.main-header .inner {
		padding-left: 2.4%;
	}
	.logo {
		float: left;
	}
	.main-nav {
		float: right; 
	}
	.main-nav a, 
	.main-nav a:first-child {
		display: inline-block;
		margin: 0 .2em;
		padding: .35em 1em;
		border-radius: 8px;
	}
	.main {
		padding-top: 3.6%;
		width: 65.957446808511%;
	}
	.col {
		float: left;
	}
	h1 {
		font-size: 3em;
	}
	.sidebar {
		margin-left: 3.127659574468%;
		width: 30.914893617021%; 
	}
	.search {
		width: 100%;
		position: relative;
		top: initial;
		right: initial;
		margin-bottom: 2em;
	}
}
@media screen and (min-width: 1024px) {	
	.wrap, 
	.main-header .inner {
		width: 1000px;
	}
}

/* Device */

/*@media screen and (-webkit-min-device-pixel-ratio: 2) */
@media screen and (min-resolution: 192dpi) {
    /* 'min-device-pixel-ratio' is ratio between device's logical pixels and device's physical pixels. Logical resolution is actual size of the screen. For example, latest iPhone (retina display) has twice the pixel density of the old iPhones. But they're the same width. */
    /* 'min-resolution' does the same thing, but it's the standard form of this property now. Device pixel ration of 1 is equal to 96 dpi (meaning that the standard, non-retina-display screens display 96 dots per inch. Retina displays, with twice the pixel density, have 192 dots per inch.) */
    /* A 1.5 pixel ratio (144dpi) is somewhat common among mobile devices, so using this as a default is probably good */
    .mike {
        background-image: url(../img/mike2x.png);
        background-size: 45px 45px;
    }
}