body {
  font: 1.2em/1.5 sans-serif;
  text-align: center;
  padding-top: 30px;
}
.social {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.social li {
  display: inline-block;
  margin: 0 5px;
}

/* Icons */












