body {
	padding-top: 35px;
	font: 1.1em/1.5 sans-serif;
}
.main {
	margin: auto;
	padding: 10px 20px 20px;
	width: 760px;
	border: 1px solid;
}

/* Using Combinators */
/* The '>' combinator denotes that the preceeding selector is a parent of the proceeding selector. In this case, any anchor tags (<a>) that are 
directly children of the .main class are colored red. Notice that this does not apply to anchor tags nested within paragraphs nested withing the
.main class because they are not directly children (but instead are grandchildren, tehehe.) */
.main > a {
	color: red;
}

/* The ' ' combinator (the space between two selectors) denotes any descendent of the first selector. For instance, in this example, all anchor
tags that are descended within the .main class are background colored pink. Notice the difference between a descencdent and a child. A descendent 
can refer to a grandchild (nests within nests) whereas a child must be directly nested within the class. Exemplifying this is that all anchor tags
that are within the .main class have pink backgrounds, even those nested within paragraphs within the .main class. */
.main a {
	background-color: pink;
}

/* The '+' is called the adjacent sibling combinator. Applies format when a certain combination o f adjacent siblings is met. For this case, when
an <h2> leads a <p> tag, the paragraph will apply to paragraphs that immediately follow (siblings) h2. */
h2 + p {
	color: white;
	padding: 10px;
	background: royalblue;
}

/* The '~' combinator is called the general sibling combinator. It applies a format to all selectors of the type proceeding the '~' that come after
selector preceeding the '~'. For instance, any <p> tags that come after the <h2> tag have modified font-sizes. Notice the difference between this
and the adjacent sibling combinator in which only the immediate <p> would be modified, not the ones further downfield. */
h2 ~ p {
	font-size: 30px;
}