
/*	Animations - WebKit only
------------------------------------------ */
.boat {
    -webkit-animation: rock-boat 2s ease-in-out; /* 'animation' shorthand for name, duration, timing effect (space separated) */
    -webkit-animation-iteration-count: infinite; /* Default value is 1 iteration. Can also put this in the shorthand 'animation' property at the end */
}

.boat::after {
    -webkit-animation: steam 4s 1s infinite; /* First time value is animation duration, 2nd time value is animation delay */
    
}

body {
	-webkit-animation: bg-move 8s ease-out forwards;
}

.mike {
    -webkit-animation: mike-move 6s 3s ease-out forwards,
        mike-float 3.2s infinite;
}

/*	Keyframes - WebKit only
------------------------------------------ */
@-webkit-keyframes rock-boat {
    /* 0% { -webkit-transform: rotate(0) translateY(0); } This is default */
    50% { -webkit-transform: rotate(-5deg) translateY(-10px); }
    /* This is also defualt
    100% { -webkit-transform: rotate(0) translateY(0); } */
}

@-webkit-keyframes steam {
    /* This is already set at default 
    0% { opacity: 0; } */
    40%, 60% { opacity: 1; }
    100% { -webkit-transform: translate(-15%, -35%) rotateZ(20deg) ;}
}

@-webkit-keyframes bg-move {
	0%   { background-position:  100% -560px; }
	100% { background-position: -350% -460px; }
}

@-webkit-keyframes mike-move {
    100% { left: 12%; }
}

@-webkit-keyframes mike-float {
    50% { -webkit-transform: rotateZ(5deg) translateY(-5px); }
}








