
body {
	background: #3a3a3a;
}

.box {
	margin: 3em auto;
	width: 700px;
	height: 500px;
	border-radius: 8px;
	background: url('img/bg.png');
}

/* Add drop and box shadows to elements */

/* First value in box-shadow is horizontal offset. Can be positive or negative. Second is vertical offset. These two values are required. Third value is blur-radius which determines how blurry or sharp. 0 value has sharp edges. Larger value  creates a blurry edge on the shadow. Fourth value is spread radius which defines spread distance of box-distance. Spreads or shrinks the actual size of the shadow (measured from the center of the shadow. Fifth value specifies color. Can add an 'inset' property to make the shadow on the inside of the surface. By default, is offset. */
.box {
    box-shadow: /*inset*/ 0 10px 10px 10px rgb(255, 0, 0), inset 0 0 5px 5px green;
}