/* ------------------------
	Linear Gradients
--------------------------- */

.box {
	width: 500px;
	height: 500px;
	margin: 35px auto;
	border-radius: 15px;
}

/* Gradients are often used for backgrounds, shading buttons, and other shit. Google Chrome hasn't really had an update for gradients yet. Linear gradients is created when two or more colors are defined. Just specify two comma-separated properties. Starting spot (noted in the first value of the property) can be defined in counter-clockwise degrees. */
.box {
    background: -webkit-linear-gradient(bottom right, orange, darkblue);
    background: -webkit-linear-gradient(45deg, green, pink)
}

/* Color stops allow us to specify exactly what we want the color to be at a certain position. Here, green color stop is at 50% of the way through the gradient. */
.box {
    background: -webkit-linear-gradient(orange 101px, darkblue 100px, green 50%, pink);
}