
body {
	margin: 0;
	padding: 8% 25%;
	color: #FFF;
	font: 1.2em/1.3 sans-serif;
}

p {
	margin: 0;
}

/* Box Styles
--------------------------------------------- */
/* Every HTML element can be thought of as a box, made up of content, border, background, padding, margin. Elements are either displayed as 'block' or 'in-line' elements. 
Block elements form a full width block, which takes up the full width available, based on its parent block, with a new line before and after the element. Ex. '<p>', '<h2>', '<div>'.
In-line element only takes up as much width as it needs. They don't force any new lines and stay in-line with the rest of the document. Ex. '<span>', '<strong>', '<a>', '<img>'. */

.box {
    background: #000;
    padding: 30px 35px; /* If only one value, applied to all sides of content. If two values, applied to top&bottom, then left&right of element. If four values: top, right, bottom, left of element. */
    border-width: thick thin medium 30px; /* Can accept key-words like 'thick'. Top right bottom left border values. */
    border-color: lightblue #ea0 rgb(255, 100, 100) teal;
    border-style: solid dashed dotted solid; /* Can accept value on all 4 sides. 'dotted', 'solid', 'dashed' can be applied. 'none' is the default value and means that no border is applied. */
    
    /* 'margin' in the paragraph will increase the border's distance to the outside of its boundaries. Because the paragraph is nested within a div element, which has a border applied to it, the increase in margin (below) will push border (and thus the content) inward on itself. */
    margin: 30px 15% 2em -10px;
}
/* Can also do all this with the 'border' property */
.margin-edge {
    border: 3px dashed red;
}