
body {
	padding: 1em 6em;
	font: 1.2em/1.5 sans-serif;
	background-color: #dfdfdf;
}	
	
p {
	width: 17.5em;
	padding: 1em;
	background: #FFF;
	border: 1px solid #cbcbcb;
}


h1 {
	color: #2d2d2d;
	font-size: 3.1em;
}	

/* Text Styles
------------------------------------------------------- */


/* The text shadow is used to create drop shadows to text. It accepts 4 unit values followed by a color. The first number indicates horizontal offset. The second, vertical offset. The third, blur radius. The fourth value is the color. The first two values can be offset. */
h1 {
    text-shadow: 4px -1px 8px rgba(62, 106, 168, .8); /* 1px to the right, 1px down, 4px blur radius, black shadow. Can stack multiple shadows on top of each other with a comma to separate the shadows. */
}

/* The '.text-overflow' and '.word-wrap' are class selectors from the html file. */

/* In this raw html file, the words extend outside their text box. 'nowrap' ignores all line breaks (makes everything on the same line) and collapses all spaces to single line of text */

/* The 'white-space: nowrap;' line tells the html file that everything needs to be on the same line without line breaks. The 'overflow: hidden' line informs that there the line should cut off at the end of the text box (preventing words from extending outside the text box) and the 'text-overflow: ellipsis' line adds a '...' to the text to inform the user that there the text has been cut off. */
.text-overflow {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* To break links (or long words) at the point where they begin to overflow outside their text box, the 'word-wrap: break-word' property and value will wrap that word with a hyphen to the next line */
.word-wrap {
    word-wrap:break-word;
}


























