
body {
	padding-top: 50px;
	background: #F5F5F5;
	color: #FFF;
	font-family: sans-serif;
}

.box {
	margin: auto;
	width: 300px;
	height: 300px;
	border-radius: 15px;
	background: steelblue;
	cursor: pointer;

 }

/* Transitions allow us to transition from one value to the next over a duration, for instance changing a background from red to green in 10 seconds. */
/* Supported by most browsers, including chrome */

/*Specify which property we'd like to transition, its duration, transition timing function or delay. '.box:hover' defines instructions for hovering over .box class. 'background-color' instructs a change from 'steelblue' to 'lightcoral'
'transition-property' defines which properties are affected by transitions. 'all' is the default value and transitions all properties that are able to be transitioned.
'transition-duraction' defines how long transition will take. If comma separated, then respective to each property in 'transition-property'.
*/
.box:hover {
    background-color: lightcoral;
    transition-property: background-color, border-radius;
    border-radius: 50%;
    transition-duration: 1.2s, 6s; /* Default value is 0 seconds. */
}
/* Can apply transition when moving mouse away from hover by adding similar transitions to original class declaration. */
.box {
    transition-property: all;
    transition-duration: .8s;
}