/* Layout
================================ */

.orbit-container {
	text-align: center;
	padding: 30px 20px 0;
	margin-bottom: 40px;
}

.orbit-container div {
	background: whitesmoke;
}

.orbit-slides-container div {
	background: whitesmoke;
}
.button-group,
.orbit-bullets {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

/* Icons
================================ */

/* Media Queries
================================ */

@media (max-width: 768px) {
	.orbit-prev,
	.orbit-next {
		display: none;
	}
}


