body {
	padding: 0 22%;
	background-color: #e0eef5;
	color: #222;
	font: 1.1em/1.5 sans-serif;
}
ul  {
	padding: 0;
	list-style-type: none;
	line-height: 2.5;
}
img {
	margin-right: 20px;
}

/* Substring Matching Attribute Selectors */

/* The 'begins-with' attribute selector begins with a certain value.
/* This branch of code differentiates two different types of links, internal references to different links within the page (like a link to the bottom of the same page which doesn't need a new site name) and external links to different sites Specically, if a site begins with 'http://', it is an external link.
The '^=' is the 'begins with' selector and tells the browser to match any anchor with 'href' property.*/
a[href^="http://"] {
    color: seagreen;
}

/* Another useful example: create a useful style for the 'mailto' link */
a[href^="mailto:"] {
    color: white;
    background-color: tomato;
    padding: 4px 8px;
    text-decoration: none;
}

/*Like the begins with selector, the ends with selector finds attributes ending with a certain value. The '$=' denotes the ends with selector. */
/* Determining difference between pdfs and docs extensions and adding the correct icon. */
a[href$=".pdf"] {
    background: url('../images/pdf.png') no-repeat 0px 2px;
    padding-left: 25px;
}

a[href$=".doc"] {
    background: url('../images/doc.png') no-repeat 0px 2px;
    padding-left: 25px;
}

/* The 'contains' selector finds values that contain the noted value anywhere within. The contains selector is denoted with '*='. */
img[src*="sky"] {
    border: 5px solid;
}

