
/*	Page Styles
------------------------------------- */

html {
    height: 100%;
}

body {
	font: 1.1em/1.3 sans-serif;
    margin: 0;
	padding: 0 10%;
    height: 100%;
    border: red solid;
}

nav {
	/margin: 1.5em 0;
}

div {
	background-color: #EEE;
}


/* The 'display' property can override the default settings of an element. Common display values are; 'none', 'inline', 'block', 'inline-block'. */
a {
    display: inline-block; /* 'inline-block' generates the box around the element as if it were a block element, but streams the surrounding content inline. Can now edit margins around these */
  /*  margin: 10px 5%; */
    width: 200px;
    border: green solid;
}

p:nth-of-type(2) {
    visibility: hidden; /* Unlike the 'display: none' value which deletes the element from the page similiar to commenting it out, the 'visibility; hidden' keeps the layout of the page as if the element were there, but hides the content of the element. */
}

/* The 'width' and 'height' properties only apply to the content area, not the margin, border, padding area. To calculate the full height and width, you must account for the all these other things.*/
div {

    height: 200px;
    padding: 10px 50px;
    border: 10px solid #DDD;
    margin: 20px 20px;
    /* what if we need the div to be exactly the width we specified (such that width is the sum of padding, border, and content area)? Use 'box-sizing' to redefine 'width'. With this next line, 'box-sizing: border-box;', the preallocated 500px for the width includes everything (except margin?)! */
    /* box-sizing: border box; */
    
    min-width: 400px;
    
    /* To handle overflowing text, use 'overflow' property. 'hidden' clips the text overflowing and cannot see any of the content outside.  */
    overflow: scroll; 


}