ul {
	color: #222;
	font: normal 1.3em sans-serif;
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	width: 70%;
}
li {
	border: 1px solid;
	margin: 12px 0;
	padding: .6em;
}

/* Structural Pseudo-classes - :nth-child */
/* Create child selector targeting all even numbered children */
li:nth-child(even) {
    color: white;
    background-color: black;
}
/* or */
li:nth-child(3) {
    color: green;
    background-color: purple;
}

/* Basic expression syntax!
    an+b
where 'a' and 'b' are replaced with numbers. 'n' never takes a negative value but does take a 0 value. 'a' and 'b' however, can be negative values.*/
li:nth-child(2n+5) {
    text-align:center;
}
li:nth-child(-n+5) {
        text-align: right;
}
    
/* 'nth-last-child' counts from the last child in the same way that 'nth-child' counts from the first. This branch starts from the 3rd line from the last list item, and counts in the negative manner, meaning down, and applies to each item after. */
li:nth-last-child(-n+3) {
    border:solid red;
    }