body {
  font: 1.2em/1.5 sans-serif;
  text-align: center;
  padding-top: 30px;
}
.social {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.social li {
  display: inline-block;
  margin: 0 5px;
}

/* Icons */

[class^="icon-"] {
  display: block;
  width: 32px;
  height: 32px;
  background: url('images/sprites.svg');
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.icon-twitter {
  background-position: 0 -32px;
}
.icon-dribbble {
  background-position: 0 -64px;
}
.icon-github {
  background-position: 0 -96px;
}










