
body {
	margin: 70px 0 0;
	background: #e1e1dd;
	color: #8A8A8A;
	font: normal 62.5%/1.3 "Helvetica Neue",Helvetica,Arial,sans-serif;
}

div {
	margin: 0 auto;
	padding: 25px 0px;
	width: 720px;
	border-radius: 5px;
	background: #FFF;
}

h4 {
	margin: 0 0 12px 0;
	color: #33383D;
	font-size: 1.8em;
    border: red 5px solid;
}

p {
	margin: 0;
	font-size: 1.5em;
    border: 3px black solid;
}


/* 'float's are elements that are "floated" to the left or right side of the page. Content can run along their side. 'float' can take three values; 'left', 'right', 'none' (default). Can float an image with text wrapping around it. */

img {
    float: left; 
    margin: 0 25px;
}

/* To prevent the text from wrapping around the image, a specified width must be created and the text floated. */
p {
    float: left;
    width: 500px;
} /*However, now the background of the div, which should include the <p>, <img>, and <h4>, now only sees the h4 because the other stuff is kind of like a free hand inserted text box. Must now change the div to see everything. Oh shit this got pretty tricky.*/
h4 {
    float: left;
}
