body {
	padding-top: 50px;
	text-align: center;
}

/* Shapes */
/* Notice how the below lines of code (all of which have been commented out) all have similar things in common, such 
as margin, display, width, and background-color. 

  .square {
    display: inline-block;
    margin: 0 15px;
    width: 200px;
    height: 200px;
    background-color: lightcoral;
  }

  .circle {
    display: inline-block;
    margin: 0 15px;
    width: 200px;
    height: 200px;
    background-color: lightcoral;
    border-radius: 50%;
  }

  .ellipse {
    display: inline-block;
    margin: 0 15px;
    width: 200px;
    height: 120px;
    background-color: lightcoral;
    border-radius: 50%;
  }

Now let's take these lines rewrite them into a condensed format, grouping and modifying those that can be. */

  .square,
  .circle,
  .ellipse {
    display: inline-block;
    margin: 0 15px;
    width: 200px;
    height: 200px;
    background-color: lightcoral;
  }

  .circle,
  .ellipse {
    border-radius: 50%;
  }

  .ellipse {
    height: 120px;
  }

  /* Alternatively, we could rewrite each of these identifiers as components to be added to each other. Check it out and see how this works after
  changing 'square', 'circle', and 'ellipse' to 'base' & 'radius' & 'ellipse'. */
    .base {
    display: inline-block;
    margin: 0 15px;
    width: 200px;
    height: 200px;
    background-color: lightcoral;
  }

  .radius {
    border-radius: 50%;
  }

  .ellipse {
    height: 120px;
  }

