
body {
	margin: 70px 0 0;
	background: #E1E1DD;
	color: #FFF;
	font: normal 1.4em sans-serif;
}

.wrapper {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 25px;
	width: 80%;
	background: #FFF;
    position: relative;
}

.top {
	background: #FF6347;
}

.middle {
	background: #87CEEB;
}

.bottom {
	background: #20B2AA;
}

.wrapper div {
	width: 150px;
	height: 150px;
	text-align: center;	
	line-height: 150px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
}

/* The 'position' property is very powerful */
.middle {
    position: absolute; /* 'static' is the default value. It is a normal box laid out according to the normal flow of the document. Ignores any values of top right... . The 'relative' position allows for movement of the box without affecting any of the elements around it. Will just be placed on top of other elements if its the case of overlapping.  */
    bottom: 20px;
    left: 100px;
    z-index: 20px;
}
.top {
    position: relative; /* The 'absolute' position removes the element from the parent altogether, thus affects the layout of the other children in the parent. The position modifications ('top') are relative to the browser viewport, not the parent. By default, it will inherit its original position. It also means that the element is locked in place when resizing the viewport, while other elements move behind it.*/
   top: 25px;
    left: 100px;
    z-index: 10;
}
.bottom {
    position:fixed;
    z-index:30px;
}

.fixed {
    position: fixed;
    width: 100%;
    height: 60px;
    background: black;
    top: 0;
}

/* Cannot apply position and float to the same element */