
/* ------------------------
	Radial Gradients
--------------------------- */

.box {
	width: 700px;
	height: 300px;
	border-radius: 0%;
	margin: 35px auto;
}

/* Same as linear, but start in center and radiate out. Gradient is steep enough to reach final color at each of four corners unless specificed otherwise (such as if its location were moved away from the exact center). */
.box {
    background: radial-gradient(circle closest-side, #E2A112, #00018F 30px, #3BDB0B 200px);
}