
/* ------------------------
	Transparent Gradients
--------------------------- */

html {
    height: 100%;
}

body {
    background: linear-gradient(hsl(218, 51%, 44%), transparent 75%, green), url('bg.jpg');
    background-size: cover;
}


