body {
	color: #222;
	font: normal 1.2em/1.5 Sans-Serif;
	margin: 40px auto 0;
	width: 78%;
}
div {
	background-color: #919090;
	color: white;
	float: left;
	width: 165px;
	height: 165px;
	margin: 50px 40px 40px 0;
	padding: 20px;
}
p {
	clear: both;
}

/* Structural Pseudo-classes. Keep up the good work! :) */
/* 'nth-of-type' targets element based on position within a parent element, but only if it is a specific type of element */

/*This branch selects the third 'div' element and applies the background color. Could be used with 'even' or 'odd' selectors too. Can count backward from last element of type using the 'nth-last-of-type'. */
div:nth-of-type(3) {
    background-color: steelblue;
    
}

/* Can select element if only one of its type within parent element using 'only-of-type' selector. This branch applis to any 'h2' elements that are the only 'h2' elements within a parent of any kind. */
h2:only-of-type {
    color: blue
}