
/* Page Styles
--------------------------------------------- */

body {
	font-size: 1.2em;
	font-family: 'Open Sans', sans-serif;
	width: 80%;
	margin: 0 auto;
}

div {
	height: 25em;
	margin-top: 2em;
	position: relative;
}

div:after {
	content: "I'm behind the div!";
	font-size: 2em;
	position: absolute;
	top: 42%;
	left: 25%;
	z-index: -1;
}


/* Color Values
--------------------------------------------- */
/* There are 16 predefined keywords that are basic colors. There is also an extensive list of more in-depth colors that can be used and are within the CSS library. Find these at w3.org color key word names. */

div {
    background-color: #0f0; /* This is also equal to f03. If both the first and second digit of the red, green, blue hexadecimal value are the same, can abbreviate to just one character. For instance 00ff00 = 0f0
3a8 = 33aa88; */
}

/* The 'rgb()' method specifies colors in terms of a mixture between red, green, and blue. 255 is the maximum value one can use. */
div {
    background-color: rgb(65, 105, 255);
}
/* The 'rgba()' method allows to control of opacity as well. 'rgba()' = (red, green, blue, opacity) where opacity is transparency. A see-through texture has opacity of 0. A completely opaque material has opacity of 1. */
div {
    background-color: rgba(65, 105, 255, .75)
}


/* The 'hsl' method stands for (hue, saturation, lightness). The hue value represents an angle (in degrees) in the color wheel. The saturation value refers to the gray/color scale. A 0 value is completely grayscale while 100 is completely colored. The lightness scale: 0 is black, 100 is white, and 50 is normal. */
div {
    background-color: hsla(130, 50%, 35%, .75)
}