body {
	font-family: sans-serif;
	background: #384047;
}
h1 {
	color: #fff;
	text-align: center
}

ul {
	list-style:none;
	margin: 0 auto;
	padding: 0;
	display: block;
	max-width: 780px;
	text-align: center;
}
ul li {
	display: inline-block;
	padding: 8px;
	background:white;
	margin:10px;
}
ul li img {
	display: block;
}
a {
	text-decoration: none;
}
/** Start Coding Here **/
/* We don't need to use "$overlay" because jQuery adds an acutal div with the id=overlay in the .append method */
#overlay {
	background:rgba(0,0,0,.7);
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	display: none;
	text-align: center;
}

#overlay img {
	margin-top: 10%;
}

#overlay p {
	color: white;
}