/* Absolute Length Units 
--------------------------------------------- */

/* Absolute length units are useful when the output medium is known; they represent a physical measurement and are fixed in relation to each other. Absolute units consist of the physical units (in, cm, mm, pt, pc) and the px unit. 'in', 'cm', and 'mm' are not common because they are highly dependent upon the output medium. Can vary greatly between mediums and resolutions. */

/* The '.cm' is a type selector. It does not correspond to the units being in centimeters but rather to the html document. */
.cm {
    width: 21.16cm;
}

.mm {
    width: 180.6mm
}

.in {
    width: 8.0in;
}

/* Picas and points are often used for print, but are not really intended for web or screen design. 1pc = 1/6 an inch. 1pt=1/72 an inch. */
.pc {
    width: 50pc;
    font-size: 2.4pc;
}
.pt {
    width: 600pt;
    font-size: 28.4pt;
}

/* The common used unit: the pixel. One pixel indicates 1 point on the virtual grid to which our designs align. Allows us to position elements precisely on page. Always remains same, regardless of browser's window size or user resolution. If div is 800 pixels wide, it will always take up 800 pixels. Smallest point a screen can physically display. Check out 'reference pixel' on google or something for more information or w3.org */
.px {
    width: 800px;
    
}