
/* Viewport Relative Length Units 
--------------------------------------------- */


/* 'vw' is the intuitive way to format sizes. It is based on a percentage of the window size. As the window is enlarged and shrunk, the sizes of the elements will also resize relative to the width of the window. Try dragging around the size of the window in this bit of code */
div {
    width: 15vw; /*vw stands for viewport width. 1 vw represents 1% of the viewport's width */
 /* height: 15vh; similarly, vh stands for viewport height */
    margin: 2vw;
    height: 18vmin; /* Not sure what this means. */
}