/* This compares class selectors vs. ID selectors.
Class selectors do not have to be independent of other tag relations. For instance, two different paragraphs can have the same class and 
thus be formatted with CSS through a single class selecting formatting. Individual elements can also have multiple classes applied to it.
However, ID selectors must be unique. ID attributes cannot be the same for two different tags. Each individual <p>, <body>, <h1>, etc... must have 
a unique ID (if even assigned one at all). */

/* Classes are referenced with a '.' to specify it is a class, rather than an ID */
.container {
	width: 740px;
	margin: auto;
}
.main-header {
	height: 110px;
	color: white;
	background: royalblue;
}
.main-content {
	padding: 20px;
	background: lightgray;
	height: 1400px;
}
/* You can also modify descendents (nests) of classes by first referencing the parent, then the child */
	.main-content p {
		font-size: 21px;
		line-height:1.5;
		margin-top: 32px;
	}
.main-footer {
	height: 100px;
	color: white;
	background: #222;
}
.base {
	padding-top: 50px;
	color: white;
	text-align: center;
	font-size: 24px;
}

/* ID selectors are unique to each element within a page. ID selectors are created using a '#' symbol */
#IDtag {
	color: purple;
}
	/* Likewise, you can modify children within a parent nest with a space between the parent ID, then the child. Here, an ID is used to identify
	the parent, followed by a type selector to identify the child. */
	#IDtag span {
		color: blue;
	}
