body {
	font: normal 1.1em/1.5 sans-serif;
	padding: 0 22%;
}
ul {
	line-height: 2.1em;
	list-style-type: none;
	padding-left: 20px;
}
h2 {
	margin-top: 0;
}
div {
	margin-bottom: 12px;
	padding: 20px;
}

/*  Pseudo-classes */
/* 'root' pseudo-class selects element that is root of document (usually <html> element). Has more specificity that html type selector. */
:root {
    background-color: #e0eef5;
}

/* Target pseudo-class allows target based on URL. If elements ID matches hash in URL. So if inter-site links are clicked on within the page, and the page is brought to that ID, then text color of white and background of tomato will be applied. */
:target {
    color: white;
    background-color: tomato;
}

/* Target elements with no child elements or no content within it, can use the 'empty' structural pseudo-class to target these. Could be used if a search field returns no results. */
:empty {
    background-color: tomato;
}

/* 'not' targeter selects everything except element specified.
Here, we target every 'div' that's not empty.*/
div:not(:empty) {
    background-color: green;
}

/* This would target all 'div's except for those with 'id=s1'. */
div:not([id='s2']) {
    font-family:cursive;
}
}