
body {
	padding: 2em 6em;
}
	
/* Font Styles
--------------------------------------------- */
/* There are two different types of 'font-family' names that we use */
/* 'serif' fonts have tapering ends at the end of characters. Check out the lowercase 'e'. Usually proportionally spaced. Examples of 'serif' fonts are Times and Georgia. */
/* Unlike 'serif' fonts, 'sans-serif' fonts have stroke endings that are plane without finishing strokes. Examples: verdana and helvetica. */
/* In a monospace font, all characters have the same fixed width and each occupy same amount of horizontal space. Examples: Courier. Often used to render code */ 

/* Font stacks are prioritized lists of fonts that the browser will cycle through to display text, until it finds one that it is familiar with and can render on the screen. Web-safe fonts (fonts that all browsers have) are arial, times new roman, verdana, georgia, and safer; 'serif', 'sans-serif', 'monospaced' */
h1 {
    font-family: Georgia, Times, serif;
}

p {
    font-family: baskerville, "Times New Roman", Times, serif;
}

/* 'font-weight' property sets how thick or thin the character is displayed. The two most common 'font-weight' properties are 'normal' and 'bold'. Headings have a default value of 'bold'. These properties can also be represented as a number from 0 to 900 (900 being really really bold). */
h1 {
    font-weight: normal;
}

/* 'font-size' property allows us to specify size of font. Keywords often used are 'small', 'medium', or 'large'. Can also use length units or percentages (px). Percentages are based on the font size of the parent. 'em' values can also be used as a multiplicator of the base font size (usually 16 pixels). 'em's are a more popular option. */
p {
    font-size: 20px;
}

/* 'font-style' properties allow us to change fonts to 'normal', 'italic' and 'oblique'. 'italic' and 'oblique' are sort of the same thing. Just use 'italic'. */
h1 {
    font-style: italic;
}

/* 'font-variant' specifies whether or not text will be displayed in 'small-caps' font. Makes the text uppercase letters, but size of letters is smaller for letters that should not be capitalized. */
p {
    font-variant: small-caps;
}

/* 'font' is a shorthand way to write everything above! The order of which things are put where, matters. Check out more online. */
p {
    font: italic, small-caps, bold, 1.5em, Baskerville, "Times New Roman", Times, 'serif';
}