
/* You can also import CSS style sheets from other CSS files using the '@import' tag. */

@import 'more-styles.css';

h2 {
	color: steelblue;
	padding-bottom: 10px;
	border-bottom: 2px dotted;
}

ul {
	color: #FFF;
	background-color: steelblue;
}
