/* Layout
================================ */

body {
	padding-top: 50px;
}
.container {
	max-width: 1000px;
}

/* Jumbotron
================================ */

.jumbotron {
  text-align: center;
  padding-bottom: 50px;
}

/* Glyphicons
================================ */

.glyphicon {
	font-size: 3em;
	display: block;
	text-align: center;
	color: rgba(58,135,173,1);
}

/* Carousel
================================ */
.carousel-indicators {
    bottom: 0;
    
}
.carousel-indicators .active {
    background-color: #222;
}