/* In an element, everything that is not the content area is considered the background. */
.box {
    background-color: #EA9; /* Can accept 'rgba()' values, predefined colors like 'blue', or a hexadecimal color. */
    background-image: url('img/mike.png'); /* By using a background-color layered under a background-image, if the image can't load (misplaced file or something), then the color should be able to adequately contrast with the text to be able to read. By default, a background image is repeated vertically and horizontally if too small. */
    background-repeat: repeat-x;
    background-position: center -10%; /* first word is x-axis position, the y-axis */
}

.fixed {
    background-attachment: fixed; /* default value is 'scroll' and the background moves along with the element as the page is moved up and down (stationary background within element). */
}

.local {
    background-attachment: local;
}