* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
 }
body {
  font: 1em/1.5 sans-serif;
  padding-top: 30px;
  background: #f7f7f7;
}
style[contenteditable] {
  outline: none;
  display: block;
  font: 1.2em/1.8 monospace;
  background: #272822;
  color: #f8f8f3;
  height: 300px;
  padding-left: 30px;
  overflow: auto;
  margin-bottom: 50px;
  border-radius: 5px;
  white-space: pre;
}

/* Page Styles */

.wrapper,
style[contenteditable] {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.box {
  width: 32%;
  float: left;
  margin: 10px 10px 0 0;
}