
/* Multi-Column layout is primarily used for text layout or creating multiple text columns. Not supported in Chrome yet without '-webkit-' prefix. */

.main {
    -webkit-column-count: 3; /* No matter what size of screen, content always split into three columns */
    -webkit-column-gap: 3em; 
    /* Column rules appear in middle of column gaps. Can be shorthand written with 'webkit-column-rule:' */
    -webkit-column-rule-width: 2px;
    -webkit-column-rule-style: dotted;
    -webkit-column-rule-color: #080641;
    
    /* Can make columns a specific width. Overrides 'column-count' if window becomes too small to account for each column of 250px each. Great for responsive web design. Can use 'columns' shorthand for 'column-width' and column-count' properties. */
    -webkit-column-width: 250px;
}

/* Images can also be easily controlled with multi-column layout. */
img {
    display: block;
    margin: 1.5em 0;
    max-width: 100%;
}

/* 'column-span' will span elements across multiple columns. */
h1 {
    -webkit-column-span: all;
}