
body {
	background: #303030;
	font: 1.1em sans-serif;
}
.wrap {
	box-sizing: border-box;
	margin: 70px auto;
	padding: 5px;
	width: 600px;
	border-radius: 10px;
	background: #222;
	box-shadow: inset 0 0 1px rgba(0,0,0,.6), 0 1px 0 rgba(255,255,255,.1);
}
.prog-bar {
	height: 60px;
	border-radius: 5px;
	background: -webkit-repeating-linear-gradient(-45deg, rgba(255,255,255,.1), rgba(255,255,255,0) 12px), -webkit-linear-gradient(#F5A8A8, #F08080);
} 

/*	Keyframes
------------------------------------------ */
/* Main difference between transitions and animations is that transitions are immediately applied when property values change, while animations only execute when we bind them to a selector. */
/* We can control their direction, play state, iteration, and before & after execution */
/* Need -webkit- prefix */

/* CSS Animations consist of two components; a set of keyframes that indicate start and end states, and a set of properties that reference the keyframes. */
/* To create animation, will need to define different animation states in a set of keyframes. WIll need to create a keyframe rule that indicate start and end states of animation. To create keyframe rule use '@-webkit-keyframes' followed by name we give to animation */
@-webkit-keyframes slide {
    /* Define keyframe selectors and set properties we want to animate using either 'from' & 'to', or with percentage values that reference how far along animation is. For instance 'from' & 'to' are the same as using '0%' & '100%'. */
    /*from { width: 0%}
    to { width: 100%} */
    0% {width: 0%}
    30%, 50% {width: 80%}
    100% {width: 100%}
    
}

.prog-bar:hover{
    /* Need to apply 'slide' keyframe animation applied. */
    /* At very least, need to define 2 animation values to execute animation; animation name and animation duration.  */
    -webkit-animation-name: slide;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear; /* Creates two linear functions because of the specified width at 30% in keyframes declaration */
}