body {
	padding: 1% 25%;
	font-family: sans-serif;
}
ul {
	margin: 25px auto 0;
	padding: 12px;
	border: 2px dotted grey;
	list-style-position: inside;
	font-size: 1.5em;
}
li {
	margin: 0;
	padding: 15px;
	border-bottom: 2px solid #224a6b;
}


/* Structural Pseudo-classes */
/* Selecting first, last, and only child elements */

/* Can use the 'first-child' pseudo-class to target the first child within the parent of the unordered list */
li:first-child {
    background-color: steelblue;
    color: white;
} 
/* Similarly, the 'last-child' allows us to select the last child of the parent */
li:last-child {
    border: none;
}

/* The 'only-child' pseudo-class targets the only child of the parent. Here, we can neglect to put a parent to address all elements of the file. Then, the 'only-child' selector addresses all elements with only one child element */
:only-child {
    background-color: tomato;
}

/* This branch selects span elements if they are the only child of a parent element */
span:only-child {
    background-color: green;
}
