
/* Relative Length Units 
--------------------------------------------- */


/* The 'ex' unit which is the current font's 'ex' height which, often times, is equal to the height of a lowercase 'x' in the current font. Ex units do not resize with the window. */
p {
    font-size: 3ex;
}

/* The 'em' unit is a multiplicator for sizes. 1 'em' is equal to the current font size for the current element. 1 em is the inherited font size. Expanding, if we look at a <p> element (not in an <h1> or anything that affects the default font size) in a browser, this will be 16 pixels. We can shrink fonts in the same way. */
p {
    font-size: 1.2em; /* 1.2 times larger than parent's text size, in this case, 1.2 * 16px */
}

.box {
    width: 30em;
    font-size: 2em;
}

/* The 'rem' unit represents font size of root element of page, usually <html> element. If font size is specified for html element, then all element sizes are relative to font size of root element */
.box {
    width: 1 rem;
    font-size: 1rem;
}

