<!-- -->

<div id="form">
	<p>There's some content in here. I wonder if hiding it ends the sen<a href="#"><span>tence without showing the span element.</span></a>
	<p>There's some shit here too. Hopefully it will disappear when you click that shit earlier. Hopefully.</p>
</div>



<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript">
	// Hide all spans descendent of div with id="form". Notice how span is acutally a grandchild of div (span is a child of <p>), but using CSS syntax, below, can still select them all.
	$("#form span").click(function () {
		// Don't actually need a $ preceding "varName". Just sort of good syntax because we're in jQuery. 
		var $varName = $(this);
		$varName.next().hide();
		return false;
	})

</script>