body {
	padding: 1% 26.5%;
	background-color: #e0eef5;
	color: #333;
}
p, div  {
	margin: 55px 0;
	font: 3em sans-serif;
}
a {
	color: royalblue;
	text-decoration: none;
	font: 2.25em sans-serif;
}


/* Pseudo-elements */
/* Pseudo-elements */
/* 'before' and 'after' pseudo-elements allow us to insert virtual elements before and after an element's content. These virtual elements are visible to the user are are styleable with CSS but they do not appear in the source code, in this case, the HTML code. Called generated content. */

/* Insert phone icon right before phone number. \2706 is a common unicode icon and is within the CSS library. Can replace the numbers and check out different icons. */
.phone::before {
    content:"\2706";
}
.phone::after {
    content:"\11131";
}
.dload::before {
    content: url(../img//pdf.png);
    margin: 0 8px;
}

/* Takes value of attribute specified (href attribute in this case) and places as text content next to element. Could replace 'href' with 'title'. */
.dload::after {
    content: attr(href);
    padding-left:10px;
    font-size:.75em;
    color: tomato;
}


/* Inserted content is inserted into the file as children of the element, rather than actually before and after the entire element itself. For instance, here generated content is inserted before and after the 'box' id but because it's a child element of box, the border applied downfield still covers the boundaries of the generated content. */
.box::before,
.box::after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background: royalblue;
    border-radius: 10%;
    margin: 15px 15px 0 15px;
}
.box {
    border: 1px solid;
    padding: 10px;
}
}