body {
	background-color: #e8f3f8;
	font: 1em/1.5 sans-serif;
}
form {
	margin: 50px auto;
	width: 320px;
	color: steelblue;
}
input {
	padding: 10px;
	border-radius: 5px;
	font-size: inherit;
}
input[type="text"] {
	display: block;
	margin-bottom: 25px;
	width: 100%;
	border: 2px solid steelblue;
}
input[type="radio"] {
	margin: 0 8px 25px 18px;
}
input[type="radio"]:first-child {
	margin-left: 0;
}
input[type="submit"] {
	width: 344px;
	height: 45px;
	border: none;
	background: steelblue;
	color: white;
	cursor: pointer;
}

/* UI Element States Pseudo-Classes target elements based on certain user interactions. That's why they're most commonly used for styling form elements */

/* 'enabled' state selector targets elements in enabled state such as button. 'input[type="text"] selects the text field. All form elements are enabled by default because they are able to be clicked on by default. */
input[type="text"]:enabled {
    background: #fcfbcc;
}

/* The second form element (the input text element) has been manually disabled with the 'disabled' attribute in html document. */
:disabled {
    background: #ddd;
}

/* The 'checked' pseudo-class targets checked elements such as checkbox or radio button */
/* Restyle elements such that label corresponding to checked radio element has different font weight and size. */
input[type="radio"]:checked + label {
    font-size: 22px;
    font-weight: bold;
}