body {
	padding-top: 70px;
	background: rgba(240,252,255,.8);
}
.wrap {
	margin: 0 auto;
	padding: 110px 0;
	width: 85%;
	background: #F0FCFF;
	box-shadow: 0 0 20px rgba(0,0,0,.5);
}
.box {
	margin: auto;
	width: 150px;
	background: url('mike-transparent.png') no-repeat 0 0;
	background-size: 150px;
}
.mike {
	display: block;
	width: 100%;
    -webkit-transform: rotate(90deg); /* 'transform' property. 'rotate' can be in radians or degrees or even 'turn's. */
    transition: 3s ease-in-out;

}

.wrap:hover .mike {
    -webkit-transform: rotate(3turn);
    -webkit-transform: skewX(45deg);
    -webkit-transform: scale(1.5) translateX(200px); /* If using percent, translate moves a percentage of images original size. Can also use 'translate' for shorthand */
    
    
    
}
