
/* --------------------------
	Margin Reset
----------------------------- */

body, h1, h2, h3, p {
	margin: 0;
} 

/* ---------------------------
	Web Fonts
----------------------------- */
@font-face {
    font-family: "DroidSerifBold";
    src: url('fonts/DroidSerif-Bold-webfont.eot');
    src: url('fonts/DroidSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'),       url('fonts/DroidSerif-Bold-webfont.woff') format('woff'), url('fonts/fonts/DroidSerif-Bold-webfont.ttf') format('truetype'), url('fonts/DroidSerif-Bold-webfont.svg#DroidSerifBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/* --------------------------
	Icon Fonts
----------------------------- */
@font-face {
    font-family: 'icomoon';
    src:url('icons/icomoon.eot');
    src:url('icons/icomoon.eot?#iefix') format('embedded-opentype'),
        url('icons/icomoon.woff') format('woff'),
        url('icons/icomoon.ttf') format('truetype'),
        url('icons/icomoon.svg#icomoon') format('svg');
    
}

/* --------------------------
	Page Styles
----------------------------- */

body {
	padding: 4.65em 0;
 	border-top: 8px solid #222; 
	background: #f9f9f9;
	color: #333;
	font-size: 1.125em;
	line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
}
p {
	margin: 1.6em 0;
	text-align: left;
}
a {
	color: #d24c39;
}
.wrap {
	position: relative;
	margin: 0 auto;
	max-width: 58%;
}

.wrap:before {
    content: "\e000";
    font-family: "icomoon";
    font-size: 1.9em;
    background: #2b9bd4;
    color: #fff;
    
}
.intro {
	margin-top: 3.15em;
}
.title {
	position: relative;
	padding: .82em 0 0 0;
	border-top: 1px solid rgba(51,52,52,.4);
	text-align: center;
	line-height: 1.33;
    font-family: "DroidSerifBold", Georgia, serif;
}
.author {
	text-align: center;
	text-transform: uppercase;
	font-size: 0.778em;
}
h2 {
	margin: 1.25em 0 0 0;
	color: #2B9BD4;
	font-size: 2em;
	line-height: 1.1;
    letter-spacing: -2px;
}

/* --------------------------
	Media Queries
----------------------------- */

@media screen and (max-width: 599px) {
	body {
		font-size: 1em;
	}
	.wrap {
		max-width: 85%;
	}
	h2 {
		font-size: 1.6em;
	}
}
@media screen and (min-width: 980px) {
	.wrap {
		max-width: 600px;
	}
} 




