
/* Flexbox gives us a new layout mode that will mitigate many of the shortcomings of current CSS layout. In this video, we'll take a good look at Flexbox's powerful features for distributing space and aligning content. */
/* CSS has many problems and drawback with floats and in-line positioning especially in absolute positioning. Floats can be problematic and absolute positioning because it takes elements out of the document flow. Flexbox is the future of CSS. Chrome supports flexbox!*/

/* Flexbox consists of flex containers and flex items. Any child of a flex container is a flex item. Flexbox defines how flex items are laid out within container, which can have multiple flex lines. Flex box has two main axis, 'cross axis' (vertical), and 'main axis' (horizontal). Every item is defined by it's baseline relative to these two axis. Default direction of 'main axis' is left-right and for 'cross axis' is top-bottom. */

.nav {
    display: flex; /* Turns elements within 'nav' class into 'flex' items and formatting applied. */
    flex-direction: row-reverse; /* Start and end position of main axis are reversed, meaning list items are laid out right to left. Default value is 'row'. 'column' swaps the main axis and the cross axis, creating columns.*/
    justify-content: space-between; /* Whoah dude. Pretty cool stuff. This puts last flex item on end of main-axis in container and first item at front of main-axis. Then spaces other items individually to create equadistant items. Value of 'flex-end' is like using the align-right button (or more accurately, align-end) in word. */
    flex-wrap: wrap; /* Wraps entire item instead of overflowing. Remove this line to check it out */

}
.nav li:last-child {
    margin-right: auto;    /* 'auto' margin absorbs extra space and pushes other items such that entire container is filled by 'margin-right' and default items' margins. */
}