body {
	font-family: 'Nunito', sans-serif;

	/* The above line applies the first (preferred) font, 'Nunito' and if that font is not available it applies 'sans-serif' to the page. 'Sans-serif 
	is an extremely basic font available for almost every browser and code. 

	Downfield:;
	To apply certain colors to fonts, use a hexadecimal color system (in which the base numbering is 16 rather than 10 like in standard math).
	Uses values 0 - 9 (10 values) and letters A - F (6 values). So a hexadecimal value may look like 'FA F3 BC'. The first term (2 places)
	represents strength of red character in color, followed by strength of green character in color, and finally strength of blue character in color.
	*/
	color: #FAF3BC; /*FA represents a lot of red (first decimal is largest value possible) and green character is also very strong (F in first decimal
	of green character). Even blue is pretty high (B in first decimal). With all at maximum, color would be white. Thus, this color represents sort of
	yellowish font */
	background: #420600 url('img/bg-texture.jpg') repeat;
	/* Color in background only present in case image found in 'img' folder can't be found */
}

a {
	color: #4FB69F;
	text-decoration:none;
	/* This changed the color of the anchor ('a') tags. It also changed the default underlining (text-decoration) so that it isn't present */
}

h1 {
	font-size: 1.750em;
	letter-spacing: -1.5px;
}

h2{
	font-size: 1.5em;
	color: #B4C34F;
}

/* Now, let's make 'Browse our Cupcakes' into a btn. */
.btn {
	color: #FAF3BC;
	/* This returns the btn 'Browse Our Cupcakes' the  the original font color of the of the normal wording of the page. It was previously overriden
	because we changed the default text color and decoration of anchors. */
	background: #4FB69F url('img/texture.png') no-repeat right top;

	/* Now let's add spacing around around the outside of the word to push other elements away from our button. We also want to make the button
	clickable area larger... We want to add 'margin' and 'padding'. Margin adds space around the element and pushes it away from its surroundings
	(Doesn't affect how large an area one can click. Only pushes this area away from other things) .
	Padding makes the element bigger (can click in a larger area for button.) */
	padding: 15px 30px; /* Can add space around to the element to top right left and bottom. If only 2 numbers, first is top and bottom padding, 
	second is padding on sides */
	margin: 40px 0px;
	border-radius: 25px ; /* Rounds corners of buttons. Higher the value, more curved the coners will be. */
	text-transform: uppercase; /* Capitalizes all text in .btn */


}

.btn:hover {
	background-color: #4CC4A7; /* Slightly changes color of background of button as one hovers over it (but doens't need to click it) */
}


ul.nav { /* Need to specify which unordered list is being formatted. In HTML code, desired list is labeled with 'class="nav"', thus we identify with
	ul.nav */
	 margin: 120px 0 0 0; /* Top right bottom left */
	 list-style: none;
	 float: right;

}

ul.nav li { /* formats all of the list items within ul.nav */
	float: left; /* makes each list item inline with one another */
	margin-right: 40px;

}

ul.nav li a { /* edits anchor of each list item within ul.nav */
	color: #FAF3BC;
}

#intro { /*format individual classes with a '#' tag */
	margin: 50px 0 75px 0;
}


/* Add borders to images */
#new-cupcakes img {
	border: 8px solid #FAF3BC; /* as opposed to solid or dashed border */
	margin: 0 0 20px 0;
}
#featured-cupcake img {
	border: 8px solid #FAF3BC;
}

#copyright {
	border-top: 8px solid #2A0400;
	padding: 10px 0px;
	margin: 15px 0px;
	text-align: center;
}

