/* ------------------------
	Linear Gradients
--------------------------- */

.box {
	width: 500px;
	height: 500px;
	margin: 35px auto;
	border-radius: 15px;
    
    background: linear-gradient(0deg, orange, darkblue, purple);
}